@CHARSET "ISO-8859-1";



#tela-app {
	text-align: center;
	padding-top: 100px;
}


#painel {
	overflow: hidden;
}

#painel .item {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #CCC;
	margin: 5px;
	background-color: #EEE;
	overflow: hidden;
	border-radius: 8px;
	padding: 15px;
	text-align: center;
}

#painel span {
	display: block;
}

#painel .item a {
	text-decoration: none;
}

#painel .item a:hover {
	color: #2489CE /*{b-bar-link-hover}*/;
}