<div class="dashboard index">
	<h2><?php echo $title_for_layout; ?></h2>
         <button onclick="captureVideo();">Capture Video</button> <br>   
        <ul data-role="listview" id="list"></ul>
        
        <p><a href="#" onclick="pegarDados(); return false;">Show Alert</a></p>
        
        <div id="name"></div>
        <div id="age"></div>
        <div id="class"></div>
</div>


<script type="text/javascript">
 
    function pegarDados() {
        
        var list = $('#list');
        list.html("");
        console.log('a');
        $.ajax({
            dataType: "jsonp", 
            url: 'http://localhost/busao/croogo/linhas/getLinhas',
            //url: 'http://search.twitter.com/search.json?q=blue%20angels&rpp=5&include_entities=true&result_type=mixed',
            success: function(data){
                $.each(data, function(i,item){
                    list.append($(document.createElement('li')).html(item.Linha.descricao));
                });
                        alert(data);
               //console.log('b'); 
               //console.log(data);
            }   
        });
        alert('viadagem');
    }
    
    function pegarDados1() {
        $.getJSON('http://localhost/busao/croogo/linhas/getLinhas', 
        function(data) {
        alert(data);
        var list = $('#list');
        list.html("");

        $.each(data.items, function(i,item){
                list.append($(document.createElement('li')).html(item.Linha.descricao));
        });

        list.listview("destroy").listview()
        });
    }
</script>