/**
HEADER
**/
#header {
    background: -moz-linear-gradient(center top , #FEFFFF, #F9F9F9) repeat scroll 0 0 padding-box transparent;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 10px 0 0 0;
    min-height: 60px;
    position: relative;
}

#header .logo img {
    height: 70px;
    padding: 5px;
}


/**
 * Basic
 */
 ul li {
     list-style: none;
 }
 
 .fields li {
     
 }
 
  .fields li label {
     display: block;
 }
 
  .fields input[type=text] {
     width: 100%;
 }
 
 #resultado li {
     padding: 15px 0;
     border-bottom: 1px dashed #CCC;
     overflow: hidden;
 }
 
 #resultado .ver-horarios {
    background-color: #0a0;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
    padding: 10px;
 }
 
 #resultado .ver-vias {
     background-color: #CCC;
     border: 1px solid #000000;
     border-radius: 5px 5px 5px 5px;
     margin-right: 10px;
     padding: 10px;
 }
 
 #resultado .descricao {
     float: left;
     width: 70%;
 }
 
 #resultado .sentido {
     float: left;
     margin-right: 10px;
 }
 
 #resultado .turno {
     float: left;
     margin-right: 10px;
 }
 
 #resultado .tipo-horario {
     float: left;
     margin-right: 10px;
 }
 
 #resultado .sentido img {
     height: 30px;
 }

 /* Smartphones (portrait and landscape) ----------- */
@media screen 
and (min-width : 320px) 
and (max-width : 480px) {
    
    body {
        width: 90%;
    }
    #header {
        background: -moz-linear-gradient(center top , #FEFFFF, #F9F9F9) repeat scroll 0 0 padding-box transparent;
        border: 1px solid #DDDDDD;
        border-radius: 10px;
        margin: 10px 0 0 0;
        min-height: 60px;
        position: relative;
    }

    #header .logo img {
        height: 90px;
        padding: 10px;
    }
    
    .ui-tabs-nav li {
        width: 48%;
    }
    
    input[type=text] {
        border: 1px solid #000;
        padding: 5px;
        border-radius: 5px;
    }
    
    button {
        height: 60px;
        width: 120px;
    }
    
    #resultado li {
        font-size: 12px;
    }
    
    #resultado .descricao {
     float: left;
     width: 70%;
     font-size: 16px;
    }
    
    #resultado .options {
        width: 30%;
        overflow: hidden;
    }
    
    #resultado .ver-horarios {
        background-color: #0a0;
        border: 1px solid #000000;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 10px;
        padding: 10px;
        display: block;
    }

    #resultado .ver-vias {
        background-color: #CCC;
        border: 1px solid #000000;
        border-radius: 5px 5px 5px 5px;
        padding: 10px;
        display: block;
    }
}